<mat-toolbar>
  <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <span>FRONT-END</span>
  <span class="example-spacer"></span>
  <div *ngIf="(userEmail$ | async)">{{userEmail$ | async}}
    <button class="mat-stroked-button" (click)='logOut()'>{{logoutText}}</button>
  </div>
  <div *ngIf="!(userEmail$ | async)">
    <button class="mat-stroked-button" (click)='login()'>{{loginText}}</button>
  </div>
</mat-toolbar>


<mat-menu #menu="matMenu">
  <a routerLink="/calculator" routerLinkActive="active">
    <button mat-flat-button>Calculator</button>
  </a>
  <br>
  <a routerLink="/feedback" routerLinkActive="active">
    <button mat-flat-button>Feedback</button>
  </a>
  <br>
  <a routerLink="/form" routerLinkActive="active">
    <button mat-flat-button>Template Driven Form</button>
  </a>
  <br>
  <a routerLink="/reactiveform" routerLinkActive="active">
    <button mat-flat-button>Reactive Form</button>
  </a>

  <br>
  <a routerLink="/cinema" routerLinkActive="active">
    <button mat-flat-button>Finnkino</button>
  </a>

  <!--<br>
  <a routerLink="/tentti" routerLinkActive="active">
    <button mat-flat-button>Tentti</button>
  </a>-->


</mat-menu>

