mat-grid-list{
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 10px;
}

mat-grid-tile{
border-radius: 5px;
}

div {
 background: lightblue;
  width: 250px;
  text-align: center;
  border: solid lightgray;
  border-radius: 5px;
  padding: 2px;
}
p{
  text-align: center;
}
input{
  margin-top: 10px;
  width: 220px;
  height: 40px;
  border: solid lightgray;
  border-radius: 5px;
  padding: 2px;

}
