mat-grid-list{
  rowHeight: 5px;


}
mat-grid-tile {
  background: lightblue;
  column-span: revert;
  row-span: revert;

}
div {
  width: 250px;
  text-align: center;
  margin: auto;
  border: 5px solid lightskyblue;
  border-radius: 10px;

}
p{
  text-align: center;
}
